<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Borrar Comentario</title>
</head>
<body>
    <h1>Borrar Comentario</h1>
    <p>¿Estás seguro que deseas borrar este comentario?</p>
    <p><strong>Comentario:</strong> {{ comentario.texto }}</p>
    <form action="{% url 'borrar_comentario' comentario.id %}" method="post">
        {% csrf_token %}
        <button type="submit">Confirmar Borrar</button>
    </form>
    <a href="{% url 'ver_inscripciones' %}">Cancelar y volver</a>
</body>
</html>