<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Comentario</title>
</head>
<body>
    <h1>Editar Comentario</h1>
    <form method="post">
        {% csrf_token %}
        <label for="texto">Editar Comentario:</label><br>
        <textarea id="texto" name="texto" rows="4" cols="50">{{ comentario.texto }}</textarea><br>
        <button type="submit">Guardar Cambios</button>
    </form>
</body>
</html>