{% load static %}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">

    <title>Confirmación de Inscripción</title>
</head>
<body>
    <h1>¡Inscripción exitosa!</h1>
    <p>Tu inscripción al curso ha sido confirmada correctamente.</p>

    <!-- Botón para regresar al inicio -->
    <a href="/home"><button>Inicio</button></a>
</body>
</html>