{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil del Usuario</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="navbar">
        <ul>
            <li><a href="/home">Inicio</a></li>
            <li><a href="/profe">Profes</a></li>
            <li><a href="/comentarios_alumno">Comentarios</a></li>
            <li><a href="/cursos">Cursos</a></li>
        </ul>
    </div>
    <div class="perfil-container">
        <div style="display: flex; align-items: center; margin-bottom: 20px;">
            <div style="margin-left: 20px;">
                <h2>{{ alumno.nombre }} {{ alumno.apellido }}</h2>
                <h3><strong>Edad:</strong> <span>{{ alumno.edad }}</span></h3>
                <h2>{{ usuario.username }}</h2>
                <h3><strong>Email:</strong> <span>{{ alumno.email }}</span></h3> <!-- Cierre de la etiqueta 'span' faltante -->
            </div>
        </div>

        <div>
            <h3>Inscripciones:</h3>
            <ul>
                {% for inscripcion in perfil %}
                    <li>{{ inscripcion.nombre_curso }}</li>
                {% endfor %}
            </ul>
        </div>

        <!-- Aquí va el segundo fragmento de código HTML -->
        <div>
            <h3>Comentarios del Alumno: {{ alumno.nombre }}</h3>

            {% if comentarios_alumno %}
                <ul>
                    {% for comentario in comentarios_alumno %}
                        <li>
                            <p>{{ comentario.texto }}</p>
                            <p>{{ comentario.fecha_creacion }}</p>
                            <form action="{% url 'borrar_comentario' comentario.id %}" method="post">
                                {% csrf_token %}
                                <button type="submit">Borrar</button>
                            </form>
                        </li>
                    {% endfor %}
                </ul>
            {% else %}
                <p>No hay comentarios para mostrar.</p>
            {% endif %}
            
            <a href="{% url 'ver_inscripciones' %}">Volver a la página de inscripciones</a>
        </div>
    </div>
</body>
</html>